body {
  background: #fefff2;
  font-family: Dejavu Sans, sans-serif;
}

#main {
    width: 310px;
    margin: 50px auto 0px auto;
}

#add_item_panel {
    width: 310px;
    margin-bottom: 20px;
}

#add_item_submit {
    font-weight: bold;
}

#login_btn {
    width: 310px;
    margin-top: 20px;
}