body {
  background: #fefff2;
  font-family: Dejavu Sans, sans-serif;
}

#main {
    width: 310px;
    margin: 50px auto 0px auto;
}

#add_item_panel {
    margin-bottom: 20px;
}

#add_item_submit {
    font-weight: bold;
}

#login_btn {
    width: 310px;
    margin-top: 20px;
}

.btn-group {
    display: flex;
    flex-direction: row;
}

.btn-group > label {
    width: 100%;
}

/* btn-danger styles redefined */

.red-btn {
  color: #fff;
  background-color: #df706d;
  border-color: #df706d;
}

.red-btn:hover {
  color: #fff;
  background-color: #df706d;
}

.red-btn:focus, .red-btn.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
          box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}

.red-btn.disabled, .red-btn:disabled {
  background-color: #d9534f;
  border-color: #d9534f;
}

.red-btn:active, .red-btn.active,
.show > .red-btn.dropdown-toggle {
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #c12e2a;
}

/* btn-warning styles redefined */

.yellow-btn {
  color: #fff;
  background-color: #f3bd72;
  border-color: #f0ad4e;
}

.yellow-btn:hover {
  color: #fff;
  background-color: #f3bd72;
  border-color: #eb9316;
}

.yellow-btn:focus, .yellow-btn.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
          box-shadow: 0 0 0 2px rgba(240, 173, 78, 0.5);
}

.yellow-btn.disabled, .yellow-btn:disabled {
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}

.yellow-btn:active, .yellow-btn.active,
.show > .yellow-btn.dropdown-toggle {
  color: #fff;
  background-color: #ec971f;
  background-image: none;
  border-color: #eb9316;
}

/* btn-success styles redefined */

.green-btn {
  color: #fff;
  background-color: #83c983;
  border-color: #5cb85c;
}

.green-btn:hover {
  color: #fff;
  background-color: #83c983;
  border-color: #419641;
}

.green-btn:focus, .green-btn.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
          box-shadow: 0 0 0 2px rgba(92, 184, 92, 0.5);
}

.green-btn.disabled, .green-btn:disabled {
  background-color: #5cb85c;
  border-color: #5cb85c;
}

.green-btn:active, .green-btn.active,
.show > .green-btn.dropdown-toggle {
  color: #fff;
  background-color: #449d44;
  background-image: none;
  border-color: #419641;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li::before {
  content: "|— ";
}

.red_li::before {
  color: #c9302c;
}

.yellow_li::before {
    color: #ec971f;
}

.green_li::before {
    color: #449d44;
}

li:hover {
    text-decoration: line-through;
}

/* MODAL */
.modal {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 310px;
}